{% extends "base.html" %}
{% block title %} {{ data.news.title }} {% endblock %}

{% block content %}
    <h1 class="text-center">Солофьев новости</h1> <br>
    <h3>{{ data.news.title }}</h3> <br>
    <div class="row">
        <div class="col text-left">
            {#    <p class="text-secondary">{{ data.news.category.title }}</p>#}
            <p>{{ data.news.category.title }}</p>
        </div>
        <div class="col text-right">
            {#    <p class="text-secondary">{{ data.news.create_date.strftime('%d.%m.%Y') }}</p>#}
            <p>{{ data.news.create_date.strftime('%d.%m.%Y') }}</p>
        </div>
    </div>
    <hr>
    <p style="font-size: 20px">{{ data.news.text }}</p>
    <hr>
    {% if data.is_auth %}
        <a href="/news/{{ data.news.id }}/delete" class="btn btn-danger"> Стереть грехи </a>
        <a href="/news/{{ data.news.id }}/edit" class="btn btn-success"> Редактировать </a>
    {% endif %}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}